@using Data

@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<ParametersTable OnClickCallback="@Generate"/>

<ResultTable DataCount=10 Language="en" DataList=@DataList/>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public List<Data> DataList { get; set; }

    private void Generate(List<Data> dataList)
    {
        DataList = dataList;
    }
}
