@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello</h1>

This is a test data generator. With this service,
you can create data in the formats,quantities,
and languages you need.
The generated data can be exported to the format you need.